html{
    height: 100%;
}

.text-bold{
    color: #007bff;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: xx-large;
}

.mn-h-1{
    min-height: 100vh;
}

.w-sm-100{
    width: 60% !important;
}

.robo-txt{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}

@media screen and (max-width: 720px){
    .w-sm-100{
        width: 100% !important;
    }
}